extends index.pug 
block content 
    h1 COLEGIO DE ESCRIBANOS    
    div(class="formulariopadre")
        div(class="formulariosue")
            form(action="/colegio" method="POST")
                div(class="boxpadre")
                    div(class="box1") FECHA 
                        input(type="date" name="date")
                    div(class="box1") PERIODO 
                        input(type="text" name="periodo")
                    div(class="box2") CUENTA DEBITO 
                        select(name="banco")
                            option(value="0110129104292065404") BANCO NACION 
                            option(value="311020003000004650700") BANCO DEL CHACO 
                br
                div(class="line")
                label(class="namepersonal") ZACARIAS JUAN DOMINGO
                input(class="suepersonal" type="text" name="zacarias" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") FLORENTIN NATALIA SOLEDAD
                input(class="suepersonal" type="text" name="florentin" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") GONZALEZ STULIC SERGIO DANIEL
                input(class="suepersonal" type="text" name="stulic" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") GOROSTIZU ROBERTO
                input(class="suepersonal" type="text" name="gorostizu" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") TUR SPRINGER JUAN MARIANO
                input(class="suepersonal" type="text" name="marianotur" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") TUR SPRINGER MARIANO RENÉ
                input(class="suepersonal" type="text" name="renetur" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") BARRETO SILVIA ERMINDA
                input(class="suepersonal" type="text" name="barretosil" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") TUR SPRINGER ALBERTO ARMANDO
                input(class="suepersonal" type="text" name="albertotur" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") CACERES CLAUDIA
                input(class="suepersonal" type="text" name="caceresclau" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") ALDERETE VICTOR ELIAS
                input(class="suepersonal" type="text" name="vitito" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") BARRETO ROXANA MARISEL
                input(class="suepersonal" type="text" name="barretoro" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") TUR SPRINGER GERARDO DANIEL
                input(class="suepersonal" type="text" name="gerardotur" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") QUIROZ ERNESTO LUIS
                input(class="suepersonal" type="text" name="quiroz" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") ESCOBAR MARCOS ALFREDO
                input(class="suepersonal" type="text" name="escobar" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") CACERES GIRON NAHUEL ELOY
                input(class="suepersonal" type="text" name="yo" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") SOSA CORDERO MAIRA SOLEDAD
                input(class="suepersonal" type="text" name="sosamai" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") BARRIOS OSVALDO DAMIAN
                input(class="suepersonal" type="text" name="barrios" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") TUR SPRINGER LEONARDO
                input(class="suepersonal" type="text" name="leonardotur" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") SANCHEZ LEANDRO EXEQUIEL
                input(class="suepersonal" type="text" name="leosanchez" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") DIAZ NAVARRO FRANCISCO ANDRES
                input(class="suepersonal" type="text" name="pancho" placeholder="ingrese sueldo")
                br
                div(class="line")
                label(class="namepersonal") URDAPILLETA JUAN MANUEL
                input(class="suepersonal" type="text" name="contador" placeholder="ingrese sueldo")
                div(class="line")
                label(class="namepersonal") MENDOZA DANIELA
                input(class="suepersonal" type="text" name="mdaniela" placeholder="ingrese sueldo")
                div(class="line")
                

                br
                button Crear reporte
                 
                 
                