extends index.pug
block content
    div(class="padre")
        div(class="links") EXPORTACION DE PAGOS DATANET
            div(class="link")
                a(href="/colegio") COLEGIO DE ESCRIBANOS
            div(class="link") 
                a(href="/caja") CAJA NOTARIAL
            div(class="link")
                a(href="/jubilaciones") JUBILADOS Y PENSIONADOS